<% include ../layouts/header %>

<div class="container mt-3 text-dark">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6 d-flex flex-column align-items-center justify-content-around">
            <% include ../layouts/messages %>
            <a type="button" class="btn btn-primary my-3" href="/students">Students</a>
            <a type="button" class="btn btn-secondary my-3" href="/all_students">All Students</a>
            <a type="button" class="btn btn-success my-3" href="/attendance">Attendance</a>
            <a type="button" class="btn btn-warning my-3" href="#">Stats</a>

            <% if (user) { %>
                <a type="button" class="btn btn-dark my-3" href="/logout"><%= user.username %> Logout</a>
            <% } %>
        </div>
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
    </div>
</div>

<% include ../layouts/footer %>