<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/app.css" />
    <title>Attendance App</title>
</head>

<body>
    <div class="custom-navbar d-flex align-items-center bg-custom">
        <% if (user) { %>
        <a href="/home"><img class="" width="100px" height="100px" src="/assets/logo.png"></img></a>
        <% } else { %>
        <a href="/login"><img class="" width="100px" height="100px" src="/assets/logo.png"></img></a>
        <% } %>
        <nav class="navbar navbar-expand-lg navbar-light bg-custom" height="100px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation bar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto d-flex align-items-end">
                    <a class="nav-link dark-gray bold mr-2 heading-2" href="">Attendance App</a>
                    <a class="nav-link dark-gray bold mr-2 heading-3" href="/home">Home</a>
                    <a class="nav-link dark-gray bold mr-2 heading-3" href="/batches">Batches</a>
                    <a class="nav-link dark-gray bold mr-2 heading-3" href="/students">Students</a>
                    <a class="nav-link dark-gray bold mr-2 heading-3" href="/attendance">Take Attendance</a>
                </ul>

                <ul class="navbar-nav  ml-auto">
                    <% if (user) { %>
                    <a class="nav-link dark-gray" href="/logout"><%= user.username %> Logout</a>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>

    <div class="body-content"></div>