<% include ../layouts/header %>

<div class="container container-fluid mt-3 text-dark text-center">
    <div class="heading-1 bold mb-3">Batches</div>
    <% include ../layouts/messages %>

    <button type="button" class="btn btn-primary glyphicon mb-4" data-toggle="modal" data-target="#batchModal"
        data-id=""><span>&#x2b;</span> Add Batch</button>

    <div class="row text-center table-responsive mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <% if (batches.length != 0) { %>
                <% let sr = 1; %>
                <% batches.forEach(batch => { %>
                <tr>
                    <td scope="row"><%= sr %></td>
                    <td scope="row"><%= batch.name %></td>
                    <td scope="row"><span class="glyphicon" style="cursor: pointer;" data-toggle="modal"
                            data-target="#batchModal" data-name="<%= batch.name %>"
                            data-id="<%= batch.id %>">&#x270f;</span>
                    </td>
                    <% sr += 1 %>
                </tr>
                <% }); %>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="batchModalLabel">Edit Batch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="batch-form" action="/modify_batch" method="POST">
                        <div class="form-group">
                            <label for="name" class="col-form-label required">Name</label>
                            <input type="text" class="form-control name_input" name="name" required>
                        </div>
                        <input type="text" class="form-control id_input" name="id" hidden>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger delete-button">Delete</button>
                    <button type="button" class="btn btn-primary save-button">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../layouts/footer %>

<script>
    $('#batchModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        var id = button.data('id');
        modal.find('.id_input').val(id);
        modal.find('.name_input').val(button.data('name'));
        // if (id == "") {
        //     modal.find('.delete-button').hide();
        // } else {
        //     modal.find('.delete-button').on('click', function (event) {
        //         location.href = '/delete_batch/' + id;
        //     });
        // }
        // We never want batches to be deleted
        modal.find('.delete-button').hide();
        $(".save-button").click(function () {
            $(".batch-form").submit();
        });
    })
</script>