<% include ../layouts/header %>

<div class="container mt-3 text-dark">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6 d-flex flex-column align-items-center justify-content-around">
            <% include ../layouts/messages %>
            <div class="my-3 heading-3 bold">Select Batch</div>
            <% if (batches.length != 0) { %>
            <% batches.forEach(batch => { %>
                <a type="button" class="btn btn-primary my-3" href="<%= nextURL %>?batch=<%= batch %>"><%= batch %></a>
            <% }); %>
            <% } %>
        </div>
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
    </div>
</div>

<% include ../layouts/footer %>